/* .grid-c6 .grid-item-fill {
  width: 60%;
  height: 10px;
  background-color: var(--clr-pumpkin);
  border-radius: 100vh;
} */


.graph {
  width: 78vw;
  height:80vh;
  background: #473b33
}

/* Media query for screens where sidebar covers 260px */
/* @media (max-width: 520px) {
  .graph {
    width: 60vw; 
    #FAF3DD 
    
  }
} */
/* Adjust as needed for your layout */